margin = 90
type-decl = sparse
type-decl-indent = 2
break-separators = after
break-sequences = true
break-before-in = fit-or-vertical
break-cases = fit-or-vertical
break-fun-decl = fit-or-vertical
break-fun-sig = fit-or-vertical
break-infix-before-func = true
break-infix = fit-or-vertical
break-collection-expressions = fit-or-vertical
infix-precedence = indent
parens-ite = true
parens-tuple = multi-line-only
parens-tuple-patterns = multi-line-only
assignment-operator = begin-line
wrap-comments = false
wrap-fun-args = false
single-case = sparse
sequence-blank-line = compact
cases-exp-indent = 2
cases-matching-exp-indent = normal
indent-after-in = 0
match-indent = 0
